html {
    font-family: sans-serif;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    border-bottom: 1px solid #777;
    font-weight: normal;
}

body {
    margin: 0;
    min-height: 100vh;
}

.content {
    margin: 1em;
}

#nav {
    width: min(20rem, 100vw - 1rem);
    height: 100%;
    background-color: #eee;
    border-right: 1px solid gray;
    position: fixed;
}

#nav>div {
    overflow: auto;
    overscroll-behavior: contain;
    height: 100%;
}

#sidebar-collapse {
    display: none;
}

#content-pane {
    padding-left: 20rem;
}

@media(max-width: 60em) {
    #nav {
        box-shadow: 4px 0 8px gray;
        left: max(-20rem, 1rem - 100vw);
        transition: left 0.2s ease;
    }

    #nav.shown {
        left: 0;
    }

    #sidebar-collapse {
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        width: 1rem;
    }

    #content-pane {
        padding-left: 0;
    }
}

#content-pane {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-pane>div:first-child {
    flex: 1;
}

#footer {
    font-size: 0.875rem;
    padding: 1rem;
    border-top: 1px solid #777;
    background-color: #eee;
}

ul.vertical-links {
    padding-left: 0;
}

.vertical-links ul {
    padding-left: 1rem;
}

.vertical-links li {
    list-style: none;
}

input[type=search] {
    width: 100%;
    padding: 4px;
}

table:not(.rouge-table) {
    border-collapse: collapse;
}

table:not(.rouge-table) td, table:not(.rouge-table) th {
    border: 1px solid #777;
    padding: 2px 4px;
}

table:not(.rouge-table) th {
    background-color: #eee;
}

:not(pre)>code {
    font-size: 0.9rem;
    background-color: #eee;
    border-radius: 4px;
    padding: 1px 2px;
}

.highlighter-rouge pre.highlight {
    font-size: 0.9rem;
    border: 1px solid #777;
    border-radius: 8px;
    margin: 0;
    max-width: 100%;
}

.highlighter-rouge table, .highlighter-rouge tbody {
    table-layout: fixed;
    width: 100%;
}

.highlighter-rouge td {
    padding: 0;
    vertical-align: top;
}

.highlighter-rouge pre {
    margin: 0;
}

.highlighter-rouge .rouge-gutter {
    text-align: right;
    padding: 4px 1ch 0 8px;
    width: 3ch;
}

.highlighter-rouge .rouge-code pre {
    border-left: 1px solid #777;
    padding: 6px 8px 4px 1ch;
    margin: -2px -2px -2px 0;
    overflow: auto;
}

#results a {
    font-size: 1.2rem;
}

#results p {
    margin-top: 0;
}

a.redlink {
    color: red;
    text-decoration: inherit;
}

li {
    margin: 0.5rem 0;
}
