<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/code.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ "/assets/script.js" | relative_url }}"></script>
</head>
<body>
    <div id="nav">
        <a id="sidebar-collapse" href="#" onclick="document.getElementById('nav').classList.toggle('shown')"></a>
        <div>
            <div class="content">
                <h3>{{ site.title }}</h3>
                <form action="{{ "/search.html" | relative_url }}">
                    <input type="search" name="q" placeholder="Search...">
                </form>
                <h3>Contents</h3>
                <ul id="toc" class="vertical-links"></ul>
                <h3>Site Nav</h3>
                <ul class="vertical-links">
                    <li><a href="{{ '/' | relative_url }}">Main Page</a></li>
                    <li><a href="{{ '/all.html' | relative_url }}">All Pages</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-pane">
        <div>
            <div id="content-div" class="content">
                <h1 id="top">{{ page.title }}</h1>
                {{ content }}
            </div>
        </div>
        <div id="footer" class="horizontal-links">
            <a href="https://github.com/MinusKelvin/chesswiki/blob/main/{{ page.path }}?plain=1">View this page on GitHub</a>
        </div>
    </div>
</body>
</html>
