<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ "/assets/script.js" | relative_url }}"></script>
</head>
<body>
    <div id="nav">
        <a id="sidebar-collapse" href="#" onclick="document.getElementById('nav').classList.toggle('shown')"></a>
        <div class="section">
            <div class="content">
                <h3>{{ site.title }}</h3>
                <form action="{{ "/search.html" | relative_url }}">
                    <input type="search" name="q" placeholder="Search...">
                </form>
                <h3>Contents</h3>
                <div id="toc" class="link-list">
                </div>
                <h3>Site Nav</h3>
                <div class="link-list">
                    <a href="{{ '/' | relative_url }}">Main Page</a>
                    <a href="{{ '/all.html' | relative_url }}">All Pages</a>
                </div>
            </div>
        </div>
    </div>
    <div id="content-pane" class="section">
        <div id="content-div" class="content">
            <h1 id="top">{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>
</body>
</html>
